@use "mixins";

header {
    background-color: var(--primary-color);

    &>section {
        @include mixins.dynamic-flex(row, 10px, space-between, center);
        width: var(--width);
        padding: 10px var(--padding);
        margin: 0 auto;

        &>.left {
            // background-color: red;
            @include mixins.flex-center(row, 5px);

            &>div:first-child {
                background-color: aqua;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                @include mixins.flex-center(row, 0);

                &>img {
                    height: 100%;
                    width: 100%;
                }
            }

            &>div:last-child {
                color: var(--button-color);
                font-weight: 600;
                font-size: 25px;
            }
        }

        &>.right {
            width: min(100px, 100%);
            @include mixins.dynamic-flex(row, 10px, space-between, center);

            &>div:first-child {
                @include mixins.flex-center(row, 0);
                padding: 5px;
                font-size: 30px;
                cursor: pointer;
                border-radius: 50%;
                transition: all .12s linear;

                &.click {
                    background-color: var(--button-color-100);
                    color: var(--button-color-500);
                }

                &:hover {
                    background-color: var(--button-color-100);
                    color: var(--button-color-500);
                }
            }

            &>details {
                position: relative;

                &[open] {
                    &>summary {
                        background-color: var(--button-color-100);
                        color: var(--button-color-500);
                    }
                }

                &>summary {
                    @include mixins.flex-center(row, 0);
                    list-style: none;
                    font-size: 30px;
                    cursor: pointer;
                    border-radius: 50%;
                    padding: 5px;
                    transition: all .12s linear;
                    font-weight: 700;

                    &:hover {
                        background-color: var(--button-color-100);
                        color: var(--button-color-500);
                    }
                }

                &>div {
                    position: absolute;
                    right: 15px;
                    top: 40px;
                    background-color: white;
                    padding: 10px;
                    border-radius: 5px;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                    width: max(200px, 100%);
                    @include mixins.flex-center(column, 20px);

                    &>div:first-child {
                        background-color: aqua;
                        height: 100px;
                        width: 100px;
                        border-radius: 50%;
                        @include mixins.flex-center(row, 0);
                        overflow: hidden;

                        &>img {
                            height: 100%;
                            width: 100%;
                        }
                    }

                    &>div:last-child {
                        width: 100%;
                        @include mixins.flex-center(column, 10px);

                        &>button {
                            background-color: transparent;
                            border: none;
                            @include mixins.dynamic-flex(row, 10px, start, center);
                            font-size: 15px;
                            font-weight: 400;
                            text-align: start;
                            width: 100%;

                            &:not(:last-child) {
                                cursor: pointer;
                            }

                            padding: 5px;
                            border-radius: 5px;
                            transition: all .12s linear;

                            &:hover:not(:last-child) {
                                background-color: var(--button-color-100);
                                color: var(--button-color-500);
                            }
                        }

                        &>button:last-child {
                            padding: 0 5px;

                            &>label {
                                width: 50px;
                                height: 26px;
                                @include mixins.flex-center(column, 10px);
                                border-radius: 200px;
                                cursor: pointer;
                                border: 1px solid var(--button-color);
                                position: relative;
                                
                                &::after {
                                    transition: all .12s linear;
                                    left: 2px;
                                    position: absolute;
                                    content: "\F1BF";
                                    font-family: "remixicon";
                                    border-radius: 50%;
                                    @include mixins.flex-center(column, 10px);
                                    padding: 2px;
                                    font-size: 18px;
                                    font-weight: 550;
                                    background-color: var(--button-color-100);
                                    color: var(--button-color-500);
                                }

                                &:has(input[type="checkbox"]:checked) {
                                    &::after{
                                        content: "\EF75";
                                        transform: translate(22px);
                                    }
                                }

                                &>input[type="checkbox"] {
                                    appearance: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}